# The environment Craft is currently running in (dev, staging, production, etc.)
ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=ee22722c-c308-4fe6-b138-96e697a589da

# Database Configuration
DB_DRIVER=mysql
DB_SERVER=mysql-8.0-3306.database.nitro
DB_PORT=3306
DB_DATABASE=craft_template
DB_USER=nitro
DB_PASSWORD=nitro
DB_SCHEMA=public
DB_TABLE_PREFIX=

# The URI segment that tells Craft to load the control panel
CP_TRIGGER=admin
